.bottom-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.heart{
    color:black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
.heart-Active{
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
.comment{
    color:black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
#comment-form{
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
#comment-text{
    border: none;
    border-bottom: 1px solid black;
    
}
#comment-text:focus{
    border: none;
    /* border-bottom: 1px solid black; */
}
.send{
    color:black;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
.comment-container{
    text-align: center;
}